
@{
    ViewData["Title"] = "Home Page";
}
<h1>neuen Burger erstellen</h1>

<table>
    <thead>
    <tr>
        <td>bezeichnung</td>
        <td>eingabe</td>
    </tr>
    </thead>
     <body>
    <tr>
        <td>Title</td>
        <td><input type="text" id="Title" name="Title"></td>
    </tr> 

    </body>
    </table>
